<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherManageController</servlet-name>
        <servlet-class>controller.teacherManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTeacherController</servlet-name>
        <servlet-class>controller.editTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentController</servlet-name>
        <servlet-class>controller.studentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentManageController</servlet-name>
        <servlet-class>controller.studentManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStudentController</servlet-name>
        <servlet-class>controller.editStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentController</servlet-name>
        <servlet-class>controller.deleteStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentController</servlet-name>
        <servlet-class>controller.addStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentRequestController</servlet-name>
        <servlet-class>controller.studentRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classNameController</servlet-name>
        <servlet-class>controller.classNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xuLiRequestController</servlet-name>
        <servlet-class>controller.xuLiRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentProfileController</servlet-name>
        <servlet-class>controller.studentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentEditProfileController</servlet-name>
        <servlet-class>controller.studentEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByNameController</servlet-name>
        <servlet-class>controller.searchByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkStatusController</servlet-name>
        <servlet-class>controller.checkStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherManageController</servlet-name>
        <url-pattern>/teacherManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTeacherController</servlet-name>
        <url-pattern>/editTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentController</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentManageController</servlet-name>
        <url-pattern>/studentManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStudentController</servlet-name>
        <url-pattern>/editStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentController</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentController</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentRequestController</servlet-name>
        <url-pattern>/studentRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classNameController</servlet-name>
        <url-pattern>/className</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xuLiRequestController</servlet-name>
        <url-pattern>/xuLiRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentProfileController</servlet-name>
        <url-pattern>/studentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentEditProfileController</servlet-name>
        <url-pattern>/studentEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByNameController</servlet-name>
        <url-pattern>/searchByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkStatusController</servlet-name>
        <url-pattern>/checkStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
