<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendenceReportController</servlet-name>
        <servlet-class>controller.attendenceReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherScheduleController</servlet-name>
        <servlet-class>controller.teacherScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeAttendanceController</servlet-name>
        <servlet-class>controller.takeAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveAttendanceController</servlet-name>
        <servlet-class>controller.saveAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAttendanceController</servlet-name>
        <servlet-class>controller.getAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentProfileController</servlet-name>
        <servlet-class>controller.getStudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentProfileController</servlet-name>
        <servlet-class>controller.updateStudentProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>controller.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPercentAttendanceController</servlet-name>
        <servlet-class>controller.getPercentAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherGetCourseController</servlet-name>
        <servlet-class>controller.teacherGetCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendenceReportController</servlet-name>
        <url-pattern>/attendenceReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherScheduleController</servlet-name>
        <url-pattern>/teacherSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeAttendanceController</servlet-name>
        <url-pattern>/takeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveAttendanceController</servlet-name>
        <url-pattern>/saveAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAttendanceController</servlet-name>
        <url-pattern>/getAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentProfileController</servlet-name>
        <url-pattern>/getStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentProfileController</servlet-name>
        <url-pattern>/updateStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPercentAttendanceController</servlet-name>
        <url-pattern>/getPercentAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherGetCourseController</servlet-name>
        <url-pattern>/teacherGetCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
